/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0f13;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #0d0f13;
    padding: 10px 0;
    border-bottom: 1px solid #3a3f47;
}

h1 {
    font-size: 2.5em;
    color: #7efc79;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #7efc79;
    text-decoration: none;
    font-size: 1.2em;
}

/* Section and Button Styles */
.dashboard-section {
    padding: 40px 0;
    text-align: center;
}

.main-button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.check-expenses-btn {
    font-size: 1.5em;
    padding: 15px 30px;
    background-color: #12e44c;
    color: #000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.check-expenses-btn img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.check-expenses-btn:hover {
    transform: scale(1.05);
}

/* Categories Styles */
.expenses-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    justify-items: center;
}

.category {
    background-color: #1cd955;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 200px;
}

.category:hover {
    transform: scale(1.05);
}

.expense-btn {
    width: 100%;
    padding: 20px;
    background-color: #1cd955;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-btn img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.expense-btn:hover {
    background-color: #13bf4c;
}

.expense-btn h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.expense-btn p {
    font-size: 1.5em;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .check-expenses-btn {
        padding: 20px;
        font-size: 1.3em;
    }

    .expenses-categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .expenses-categories {
        grid-template-columns: 1fr;
    }

    .check-expenses-btn {
        font-size: 1.2em;
        padding: 15px;
    }

    .expense-btn p {
        font-size: 1.3em;
    }
}
