* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0d0f13;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    text-align: center;
    padding: 1rem 0;
    background-color: #12161f;
    margin-bottom: 1rem;
    position: relative;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #7efc79;
    margin: 0;
}

.back-button {
    color: #7efc79;
    font-size: 1.5rem;
    text-decoration: none;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.academics-section {
    text-align: center;
    padding: 0 1rem 2rem;
}

.header-image {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
    margin-bottom: 2rem;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.category {
    flex: 1 1 calc(50% - 0.5rem);
    background-color: #12161f;
    border-radius: 0.625rem;
    padding: 1rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.category h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #7efc79;
}

.amount {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #12e44c;
}

.other-button {
    padding: 0.75rem 1.5rem;
    background-color: #1cd955;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.other-button:hover {
    background-color: #13bf4c;
}

@media (max-width: 768px) {
    .categories {
        flex-direction: column;
    }

    .category {
        flex: 1 1 100%;
    }
}
